<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SnapHub{% endblock %}</title>
    <link href="https://unpkg.com/tailwindcss@^2.2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-black text-white flex flex-col min-h-screen"> 
    <nav class="bg-black py-4">
        <div class="container mx-auto flex justify-between items-center px-4">
            <a href="/" class="text-xl font-bold">SnapHub</a>
            <button class="md:hidden text-white" onclick="toggleMenu()">
                &#9776;
            </button>
            <ul class="hidden md:flex">
                <li class="ml-6"><a href="{% url 'home:index' %}" class="hover:text-gray-400">Home</a></li>
                <li class="ml-6"><a href="{% url 'home:about' %}" class="hover:text-gray-400">About</a></li>
                {% if user.is_authenticated %}
                <li class="ml-6"><a href="{% url 'home:gallery' %}" class="hover:text-gray-400">Gallery</a></li>
                <li class="ml-6"><a href="{% url 'home:contact' %}" class="hover:text-gray-400">Contact</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <script>
        function toggleMenu() {
            const menu = document.querySelector('nav ul');
            menu.classList.toggle('hidden');
        }
    </script>
    <div class="flex-grow container mx-auto px-2 sm:px-4 mt-5 sm:mt-10">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="bg-black py-4 mt-10 w-full">
        <div class="container mx-auto flex flex-col md:flex-row justify-between items-center px-4">
            <p>&copy; {% now "Y" %} SnapHub. All rights reserved.</p>
            <a href="https://www.linkedin.com/in/motidivya/" target="_blank" rel="noopener noreferrer">By Divyesh Vishwakarma</a>
        </div>
    </footer>
</body>

</html>
