{% extends 'layout.html' %}

{% block content %}
<div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-100">
        Login
    </h2>
</div>
<div class="min-h-screen flex items-center justify-center bg-black-900 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full bg-black p-6 rounded-lg">
        <form class="mt-8 space-y-6" action="{% url 'account:login' %}" method="POST">
            {% csrf_token %}
            <div class="rounded-md shadow-sm -space-y-px">
                <div>
                    <label for="{{ form.username.id_for_label }}" class="sr-only">{{ form.username.label }}</label>
                    <input id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" type="text" autocomplete="username" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-600 placeholder-gray-400 text-white bg-black rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="{{ form.username.label }}">
                    {{ form.username.errors }}
                </div>
                <div>
                    <label for="{{ form.password.id_for_label }}" class="sr-only">{{ form.password.label }}</label>
                    <input id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-600 placeholder-gray-400 text-white bg-black rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="{{ form.password.label }}">
                    {{ form.password.errors }}
                </div>
            </div>

            <div>
                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo">
                    Sign in
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
